.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    border-radius: 50%;
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}