.card-header {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}

.card-header .title {
    /* border: 2px solid salmon; */
    font-weight: 600;
    font-size: 1.2rem;
}

/* .card-header .button-grp {
    border: 2px solid salmon;
} */

/* .card-body {
    border: 2px solid green;
} */

.card-footer {
    /* border: 2px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-footer .status {
    /* border: 2px solid salmon; */
    height: fit-content;
}

.card-footer .deadline {
    /* border: 2px solid salmon; */
    height: fit-content;
    color: red;
}

.card-footer .profile {
    /* border: 2px solid salmon; */
    border-radius: 50%;
    background: rgba(243, 241, 241, 0.451);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-footer .profile:hover {
    box-shadow: none;
}

.card-footer .profile img {
    width: 100%;
}