.main-header .row-1 {
    display: flex;
    justify-content: space-between;
}

.main-header .row-1 .title-div {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.main-header .row-1 .title-div svg {
    /* border: 2px solid red; */
    width: 1rem;
}

.main-header .row-1 .title-div button,
.abc {
    border: none;
    outline: none;
    padding: .5rem;
    height: fit-content;
    padding-inline: 1rem;
    text-transform: capitalize;
    font-size: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: .3rem;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    background: rgb(0, 119, 255);
    color: #fff;
}

.main-header .row-1 .title-div button:hover,
.abc {
    box-shadow: none;
    background: rgba(0, 119, 255, 0.818);
}

.main-header .page-title {
    /* background: lightcoral; */
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-header .serach-bar {
    /* background: lightgreen; */
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

.main-header .filters {
    /* background: lightseagreen; */
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    column-gap: .8rem;
    /* align-self: self-end; */
}

.main-header .dropdown-div {
    width: fit-content;
}