.description-para {
    /* border: 2px solid red; */
    margin-block: 0px;
    text-align: justify;
}

.read-more-btn {
    outline: none;
    border: none;
    background: rgba(241, 241, 241, 0.447);
    border-radius: .3rem;
    padding: .2rem;
    padding-inline: .5rem;
    margin-top: .5rem;
    cursor: pointer;
}